@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Advertising";
}

<body>
    <div class="home-content">
        @Localizer["Head"]
    </div>
</body>