@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<div class="home-content">
    @Localizer["About"]
</div>

<div class="col-md-12" style="padding-left: 0px;">
    <script type="text/javascript"
            charset="utf-8"
            async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adf019a8b5489213833c8fd43d62922df57bf4d02380de8844d902a0699febcc3&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true">
    </script>
</div>