



<body>
    <div class="home-content">
    <p>Постановлением Совета Министров Республики Беларусь от 14 июля 2017 г. № 529 «<a href="http://pravo.by/document/?guid=3961&p0=C21700529">Об административных процедурах, подлежащих осуществлению в электронной форме</a>» утверждены перечень административных процедур, подлежащих осуществлению в электронной форме через единый портал электронных услуг в отношении граждан, и перечень – в отношении юридических лиц и индивидуальных предпринимателей.</p>

    <p>Для осуществления административных процедур, указанных в перечнях, необходимо авторизоваться на <a href="https://portal.gov.by/PortalGovBy/faces/wcnav_defaultSelection;jsessionid=dlJ6cLNTVQLQcNHPBvnCnwTQTyG7hY415P0LQkgHsdGvFt7tf2x1!-140724446!354695164?_adf.ctrl-state=lg4ldce36_4&_afrLoop=500275223017629&_afrWindowMode=0&_afrWindowId=null#%40%3F_afrWindowId%3Dnull%26_afrLoop%3D500275223017629%26_afrWindowMode%3D0%26_adf.ctrl-state%3D7s4rkuei8_4">Едином портале электронных услуг </a>: осуществить вход в личный кабинет.</p>

    <p>Авторизация осуществляется согласно способу регистрации с использованием уникального идентификатора (УИ) либо с использованием средств электронной цифровой подписи (ЭЦП).</p>


    <div class="center">
        <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
            УНИКАЛЬНЫЙ ИДЕНТИФИКАТОР
        </button>
    </div>

    <div class="collapse" id="collapse1">
        <div class="card card-body">
            <p>В соответствии с <a href="http://pravo.by/document/?guid=3871&p0=C21700637"> Положением о порядке получения уникального идентификатора </a>, утвержденного постановлением Совета Министров Республики Беларусь от 22 августа 2017 г. № 637 «О мерах по реализации Закона Республики Беларусь «О внесении дополнений и изменений в Закон Республики Беларусь «Об основах административных процедур»,</p>
            <p><b>УНИКАЛЬНЫЙ ИДЕНТИФИКАТОР</b> (далее – <b>УИ</b>) – это средство идентификации гражданина при осуществлении административных процедур в электронной форме через личный электронный кабинет, в отношении которых законодательством об административных процедурах установлена такая форма их осуществления.<p>
            <p><b>УИ необходим для:</b></p>
            <ul>
                <li>обеспечения доступа к Единому порталу электронных услуг через личный электронный кабинет; </li>
                <li>подачи (отзыва) заявлений об осуществлении административных процедур; </li>
                <li>получения административных решений (уведомлений о принятых административных решениях); </li>
                <li>подачи (отзыва) административных жалоб в электронной форме. </li>
            </ul>
            <p><b>Для получения УИ</b> можно обратиться в: </p>
            <ul>
                <li>В службу «одно окно» местного исполнительного и распорядительного органа (адреса и режим работы служб «одно окно», расположенных в г. Минске, вы можете найти на нашем сайте в рубрике Службы «одно окно») <br /></li>

                <li>РУП «Национальный центр электронных услуг» по адресу:</li>
            </ul>
            г. Минск, пр. Машерова, 25, пом. 200, отдел продаж и обслуживания клиентов.
            <br />
            Режим работы: <br />
            понедельник-пятница 8.00-19.00 <br />
            Телефон: +375 17 229 30 00 доб. 707  <br />
            <br />
            <p><b>ВНИМАНИЕ!</b> Получить УИ можно <b>только лично для себя.</b></p>
            <p>При обращении за выдачей УИ необходимо <b>предъявить паспорт</b> или иной документ, удостоверяющий личность, и <b>заполнить заявление</b> согласно утвержденной форме.</p>
            <p>Также необходимо <b>иметь электронную почту</b>, адрес которой указывается в заявлении и в последующем будет использован для передачи информации.</p>
            <p>На основании заявления формируется личный электронный кабинет и выдается уникальный идентификатор: логин и пароль.</p>
            <p>Процедура выдачи уникального идентификатора <b>бесплатная.</b></p>
            <p><em>Подробная информация по получению уникального идентификатора по  <a href="https://nces.by/nces-ptistupil-k-vydache-unikalnogo-identifikatora/"> ссылке </a>.</em></p>
            <p>О присвоении логина и формировании первичного пароля выдается извещение, оформленное согласно утвержденной форме.</p>
            <p>Отметка о получении извещения должна быть удостоверена <b>личной подписью</b> обратившегося за выдачей уникального идентификатора.</p>
            <p><b>В выдаче уникального идентификатора отказывается в случаях:</b></p>
            <ul>
                <li>непредставления документа, удостоверяющего личность, и (или) несогласия на проведение сверки сведений, указанных гражданином при подаче заявления о выдаче уникального идентификатора;</li>
                <li>предоставления недействительного документа, удостоверяющего личность;</li>
                <li>наличия уникального идентификатора;</li>
                <li>выявления факта несоответствия сведений о гражданине и документе, удостоверяющем личность, при проведении сверки данных.</li>
            </ul>
            <p><b>Самостоятельно отказаться от использования уникального идентификатора</b> можно посредством подачи соответствующего письменного заявления в службу выдачи и предъявления документа, удостоверяющего личность. </p>
        </div>
    </div>
    </div>




    <div class="center">
        <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            ЭЛЕКТРОННАЯ ЦИФРОВАЯ ПОДПИСЬ
        </button>
    </div>
    <div class="collapse" id="collapse2">
        <div class="card card-body">
            <div class="home-content">
                <p>В соответствии со статьей 1 Закона Республики Беларусь от 28 декабря 2009 г. № 113-З «Об электронном документе и электронной цифровой подписи»</p>
                <p><b>ЭЛЕКТРОННАЯ ЦИФРОВАЯ ПОДПИСЬ</b> (далее – <b>ЭЦП</b>) – последовательность символов, являющаяся реквизитом электронного документа и предназначенная для подтверждения его целостности и подлинности, а также для иных целей, предусмотренных настоящим Законом и иными законодательными актами Республики Беларусь.</p>
                <p>
                    <b>Услуга платная</b> согласно прейскуранту тарифов.
                </p>
                <p>
                    <b>Для получения ЭЦП</b> необходимо <b>лично</b> обратиться в республиканский удостоверяющий центр ГосСУОК и представить:
                </p>
                <ul>
                    <li>паспорт или иной документ, удостоверяющий личность;</li>
                    <li>копию документа, подтверждающего оплату услуги регистрации;</li>
                    <li>перечень сведений о Потребителе для физических лиц (заявление по форме).</li>
                </ul>
                <p>Обращаем внимание, что необходимо <b>иметь электронную почту</b>, адрес которой указывается в заявлении.</p>
                <p>В результате оказания услуги удостоверяющим центром выпускается и передается обратившемуся сертификат открытого ключа проверки электронной цифровой подписи (сертификат). </p>
                <p>Подробная информация по получению ЭЦП по  <a href="https://nces.by/pki/"> ссылке </a>.</p>
            </div>
        </div>
        </div>

        <div class="home-content">
            <br />
            <p><b>КАК УЗНАТЬ, ОТНЕСЕН ЛИ ГРАЖДАНИН К НЕ ЗАНЯТЫМ В ЭКОНОМИКЕ</b></p>
            <p>После входа в личный кабинет гражданину нужно выбрать услугу 3.33.03 «Предоставление сведений об отнесении гражданина к не занятым в экономике» и получить ответ.</p>
            <p><b>Дополнительно информируем</b></p>
            <p>
                Также для получения информации о том, содержатся ли сведения о гражданине в базе данных, можно обратиться в постоянно действующую комиссию по координации
                работы по содействию занятости населения <b>по месту регистрации гражданина</b> посредством телефонного звонка или письменного обращения, в том числе на адрес электронной почты комиссии.
            </p>
            <p>При этом для идентификации гражданину необходимо сообщить его идентификационный номер, а также иную информацию, содержащуюся в документе, удостоверяющем его личность.</p>
            <p>Комиссии создаются на базе местных исполнительных и распорядительных органов.</p>
        </div>
</body>