
<body>
<div class="text-center home-content">
    <b>
        График проведения тематических дней информирования населения
        в контакт-центре Мингорисполкома (тел. 142)
    </b>

    <table class="table table-hover home-content">
        <thead>
            <tr>
                <th>Дата, время проведения</th>
                <th>Тема дня информирования</th>
                <th>Ответственный исполнитель</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    02.05.2019
                    09.00-12.00
                </td>
                <td>Основы здорового образа жизни</td>
                <td>ГУ «Минский городской центр гигиены и эпидемиологии»</td>
            </tr>
            <tr>
                <td>
                    02.05.2019
                    14.30-17.30
                </td>
                <td>О вопросах включения, исключения, освобождения от оплаты жилищно-коммунальных услуг с возмещением затрат в связи с нахождением в трудной жизненной ситуации, подтверждением статуса занятости граждан, не занятых в экономике и находящихся в базе данных</td>
                <td>Комитет по труду, занятости и социальной защите</td>
            </tr>
            <tr>
                <td>
                    03.05.2019
                    09.00-12.00
                </td>
                <td>Подписка на газеты «Минский курьер» и «Вечерний Минск». Распространение газеты «Вечерний Минск» в 2019 году</td>
                <td>УП «Агентство «Минск-Новости»</td>
            </tr>
            <tr>
                <td>
                    04.05.2019
                    09.00-12.00
                </td>
                <td>Порядок и условия назначения профессиональных пенсий за работу в особых условиях труда</td>
                <td>Минское городское управление Фонда социальной защиты населения Министерства труда и социальной защиты Республики Беларусь</td>
            </tr>
            <tr>
                <td>
                    10.05.2019
                    09.00-12.00
                </td>
                <td>Порядок передачи документов на государственное хранение в ГУ «Минский городской архив» при ликвидации субъектов хозяйствования </td>
                <td>Главное управление юстиции Мингорисполкома</td>
            </tr>
            <tr>
                <td>
                    10.05.2019
                    14.30-17.30
                </td>
                <td>О вопросах включения, исключения, освобождения от оплаты жилищно-коммунальных услуг с возмещением затрат в связи с нахождением в трудной жизненной ситуации, подтверждением статуса занятости граждан, не занятых в экономике и находящихся в базе данных</td>
                <td>Комитет по труду, занятости и социальной защите</td>
            </tr>
            <tr>
                <td>
                    11.05.2019
                    09.00-12.00
                </td>
                <td>
                    Временная занятость молодежи, обучающейся в учреждениях образования, в свободное от учебы время и период летних каникул

                </td>
                <td>Комитет по труду, занятости и социальной защите</td>
            </tr>
            <tr>
                <td>
                    11.05.2019
                    14.30-17.30
                </td>
                <td>О вопросах включения, исключения, освобождения от оплаты жилищно-коммунальных услуг с возмещением затрат в связи с нахождением в трудной жизненной ситуации, подтверждением статуса занятости граждан, не занятых в экономике и находящихся в базе данных</td>
                <td>Комитет по труду, занятости и социальной защите</td>
            </tr>
            <tr>
                <td>
                    13.05.2019
                    09.00-12.00
                </td>
                <td>Контроль качества воды в г. Минске</td>
                <td>УП «Минскводоканал»</td>
            </tr>
            <tr>
                <td>
                    13.05.2019
                    14.30-17.30
                </td>
                <td>Реализация Генерального плана г. Минска в области ландшафтной архитектуры </td>
                <td>Комитет архитектуры и градостроительства</td>
            </tr>
            <tr>
                <td>
                    14.05.2019
                    09.00-12.00
                </td>
                <td>Санитарное содержание территории г. Минска</td>
                <td>ГУ «Минский городской центр гигиены и эпидемиологии»</td>
            </tr>
            <tr>
                <td>
                    14.05.2019
                    14.30-17.30
                </td>
                <td>Санитарное содержание жилищного фонда и вопросы благоустройства</td>
                <td>Администрация Фрунзенского района г. Минска</td>
            </tr>
            <tr>
                <td>
                    15.05.2019
                    09.00-12.00
                </td>
                <td>Проведение работ по благоустройству территорий с участием средств населения</td>
                <td>ГО «Минское городское жилищное хозяйство»</td>
            </tr>
            <tr>
                <td>
                    15.05.2019
                    14.30-17.30
                </td>
                <td>Изменение договора найма жилого помещения коммерческого использования государственного жилищного фонда</td>
                <td>Администрация Заводского района г. Минска</td>
            </tr>
            <tr>
                <td>
                    16.05.2019
                    09.00-12.00
                </td>
                <td>19 мая- Международный день памяти людей, умерших от СПИДа</td>
                <td>ГУ «Минский городской центр гигиены и эпидемиологии»</td>
            </tr>
            <tr>
                <td>
                    16.05.2019
                    14.30-17.30
                </td>
                <td>О выкупе арендаторами арендованного не менее 3-х лет государственного имущества</td>
                <td>Комитет государственного имущества Минского городского исполнительного комитета</td>
            </tr>
            <tr>
                <td>
                    17.05.2019
                    09.00-12.00
                </td>
                <td>О создании без барьерной среды по месту жительства инвалидов </td>
                <td>Комитет по труду, занятости и социальной защите</td>
            </tr>
            <tr>
                <td>
                    17.05.2019
                    14.30-17.30
                </td>
                <td>О вопросах включения, исключения, освобождения от оплаты жилищно-коммунальных услуг с возмещением затрат в связи с нахождением в трудной жизненной ситуации, подтверждением статуса занятости граждан, не занятых в экономике и находящихся в базе данных</td>
                <td>Комитет по труду, занятости и социальной защите</td>
            </tr>
            <tr>
                <td>
                    20.05.2019
                    09.00-12.00
                </td>
                <td>Особенности приемной кампании в учреждениях профессионально-технического и среднего специального образования г. Минска в 2019 году </td>
                <td>Комитет по образованию Мингорисполкома</td>
            </tr>
            <tr>
                <td>
                    20.05.2019
                    14.30-17.30
                </td>
                <td>О вопросах включения, исключения, освобождения от оплаты жилищно-коммунальных услуг с возмещением затрат в связи с нахождением в трудной жизненной ситуации, подтверждением статуса занятости граждан, не занятых в экономике и находящихся в базе данных</td>
                <td>Комитет по труду, занятости и социальной защите</td>
            </tr>
            <tr>
                <td>
                    21.05.2019
                    09.00-12.00
                </td>
                <td>Предоставление государственной адресной социальной помощи в соответствии с Указом Президента Республики Беларусь от 19 января 2012 года № 41 «О государственной адресной социальной помощи»</td>
                <td>Администрация Заводского района г. Минска</td>
            </tr>
            <tr>
                <td>
                    21.05.2019
                    14.30-17.30
                </td>
                <td>Актуальные вопросы проведения капитального ремонта в многоквартирных жилых домах, находящихся на территории Фрунзенского района г. Минска</td>
                <td>Администрация Фрунзенского района г. Минска</td>
            </tr>
            <tr>
                <td>
                    22.05.2019
                    09.00-12.00
                </td>
                <td>Порядок уплаты физическими лицами ремесленного сбора при осуществлении ремесленной деятельности</td>
                <td>Инспекция Министерства по налогам и сборам Республики Беларусь по г. Минску</td>
            </tr>
            <tr>
                <td>
                    22.05.2019
                    14.30-17.30
                </td>
                <td>О мерах по содействию занятости граждан в рамках реализации Декрета № 3</td>
                <td>Комитет по труду, занятости и социальной защите</td>
            </tr>
            <tr>
                <td>
                    23.05.2019
                    09.00-12.00
                </td>
                <td>Порядок начисления платы за тепловую энергию на отопление и подогрев воды</td>
                <td>ГО «Минское городское жилищное хозяйство»</td>
            </tr>
            <tr>
                <td>
                    23.05.2019
                    14.30-17.30
                </td>
                <td>Вопросы проведения текущего ремонта жилищного фонда</td>
                <td>Администрация Фрунзенского района г. Минска</td>
            </tr>
            <tr>
                <td>
                    24.05.2019
                    09.00-12.00
                </td>
                <td>Об ограничении на территории г. Минска времени продажи алкогольных напитков, пива и слабоалкогольных напитков во время проведения выпускных мероприятий в учреждениях общего среднего образования</td>
                <td>ГУ «Главное управление потребительского рынка Мингорисполкома»</td>
            </tr>
            <tr>
                <td>
                    27.05.2019
                    09.00-12.00
                </td>
                <td>
                    Организация и проведение выпускных экзаменов, итоговая аттестация учащихся учреждений общего среднего образования
                </td>
                <td>Комитет по образованию Мингорисполкома</td>
            </tr>
            <tr>
                <td>
                    27.05.2019
                    14.30-17.30
                </td>
                <td>Порядок выдачи и замены свидетельства социального страхования. Порядок представления застрахованному лицу информации, содержащейся в его индивидуальном лицевом счете</td>
                <td>Минское городское управление Фонд социальной защиты населения Министерства труда и социальной защиты Республики Беларусь</td>
            </tr>
            <tr>
                <td>
                    28.05.2019
                    09.00-12.00
                </td>
                <td>Прекращение деятельности индивидуальных предпринимателей</td>
                <td>Главное управление юстиции Мингорисполкома</td>
            </tr>
            <tr>
                <td>
                    28.05.2019
                    14.30-17.30
                </td>
                <td>Предупреждение правонарушений в сфере землеустройства</td>
                <td>Комитет землеустройства Минского городского исполнительного комитета</td>
            </tr>
            <tr>
                <td>
                    29.05.2019
                    09.00-12.00
                </td>
                <td>О поверке, замене и монтаже приборов учета расхода газа</td>
                <td>УП «Мингаз»</td>
            </tr>
            <tr>
                <td>
                    29.05.2019
                    14.30-17.30
                </td>
                <td>Порядок внесения изменений, исправлений, дополнений в записи актов гражданского состояния</td>
                <td>Администрация Фрунзенского района г. Минска</td>
            </tr>
            <tr>
                <td>
                    30.05.2019
                    09.00-12.00
                </td>
                <td>Консультирование государственных предприятий (организаций) по вопросам взыскания задолженности</td>
                <td>Главное управление юстиции Мингорисполкома</td>
            </tr>
            <tr>
                <td>
                    30.05.2019
                    14.30-17.30
                </td>
                <td>Предоставление права на выполнение автомобильных перевозок пассажиров</td>
                <td>ГП «Столичный транспорт и связь»</td>
            </tr>
            <tr>
                <td>
                    31.05.2019
                    09.00-12.00
                </td>
                <td>Оздоровление детей в летний период</td>
                <td>Комитет по здравоохранению Мингорисполкома</td>
            </tr>
            <tr>
                <td>
                    31.05.2019
                    14.30-17.30
                </td>
                <td>О вопросах включения, исключения, освобождения от оплаты жилищно-коммунальных услуг с возмещением затрат в связи с нахождением в трудной жизненной ситуации, подтверждением статуса занятости граждан, не занятых в экономике и находящихся в базе данных</td>
                <td>Комитет по труду, занятости и социальной защите</td>
            </tr>
        </tbody>
    </table>
</div>
</body>