
<body>
    <div class="text-center home-content">
       <b> Профсоюз работников местной промышленностии коммунально-бытовых предприятий </b>
    </div>
    <div class="text-center home-content">
        <br />
        Первичная профсоюзная организация коммунального унитарного предприятия «Минское городское агентство обслуживания населения» образована в июле 2016 г.
        <br />
    </div>
    <div> <br> </div>
    <table class="table table-hover home-content">
        <tbody>
            <tr>
                <th>Председатель профкома</th>
                <td>
                    Черник Марина Александровна <br/>
                    тел. 364 25 83
                </td>
            </tr>
            <tr>
                <th>Заместитель председателя</th>
                <td>
                    Пожиток Нелли Константиновна
                </td>
            </tr>
            <tr>
                <th>Казначей</th>
                <td>
                    Пивоварова Татьяна Павловна
                </td>
            </tr>
            <tr>
                <th>Члены профкома</th>
                <td>
                    Ившина Марина Валерьевна,<br />
                    Пантелеенко Леонид Алексеевич
                </td>
            </tr>
        </tbody>
    </table>
</body>
