@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Сamera";
}

<script src="http://site.ru/uppod.js" type="text/javascript"></script>
<script src="~/js/uppod-0.13.05.js"></script>
<div class="player" id="videoplayer"></div>

<script type="text/javascript">this.player = new Uppod({ m: "video", uid: "videoplayer", file: "http://87.252.228.220:8081/14/2/playlist.m3u8", poster: "https://images.wallpaperscraft.ru/image/star_wars_chewbacca_napitok_malysh_29187_1280x720.jpg" });</script>

